
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
<h1> action show</h1>

<h4>@TempData["userName"]</h4>

</body>
</html>
