
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_SiteLayout</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <partial name="_HeaderSitelayout" />

    <div class="row">
        <div class="col-4 bg-info"></div>
        <div class="col-4">
            @RenderBody()
        </div>
        <div class="col-4 bg-primary"></div>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
