
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>

<h1> action show</h1> 

<h1> @ViewBag.UserName</h1>


</body>
</html>
